* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: white;
}

#welcome_products {
  padding: 0px 100px 0px 100px;
  font-family: "Poppins", sans-serif;
}

/* Heading section */

#heading {
  display: flex;
  align-items: center;
}

#heading h1 {
  margin-left: 159px;
  font-weight: 500;
  font-size: 40px;
  color: #3c3c3c;
}

#heading p {
  margin-left: 234.64px;
  font-weight: 500;
  font-size: 15px;
}

#heading > p > span {
  color: green;
}

/* cards section */

#card_section {
  display: grid;
}

.card {
  padding: 18px;
  width: 380px;
  height: 584px;
  box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  line-height: 33px;
  background-color: #ffffff;
}



.info_div p {
    margin-top: 39.75px;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C5C5C;
}

.info_div h4 {
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.info_div h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  color: #fb923c;
}

.star_img_div {
    display: flex;
    gap: 2px;
  height: 24.00645637512207px;
  width: 24.119434356689453px;
  border-radius: 0px;
}
